.banner {
	background-image: url('../../images/volunteer.png');
	background-size: cover;
	background-position: center;
	height: 500px;

	opacity: 0.6;
}
.banner h1 {
	color: black;
	text-align: center;
}
